body{
  background-color:powderblue;
}

nav{
  text-align:center;
}

#query{
  text-align: right;
  background-color: rgb(17, 109, 109);
}

h1, h2, h3{
  font-family: Lucida Handwriting;
  text-align: center;  
  color: rgb(17, 109, 109);
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#center{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  border-style: double;
}
#p_center{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

#left{
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  text-align: left;
  border-style: double;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

.description {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
